:root {
    --red: 0;
    --green: 0;
    --blue: 0;
    --red1: 0;
    --green1: 0;
    --blue1: 0;
    --deg: 0deg;
    --hint: 50%
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background: linear-gradient(  var(--deg),   rgb(var(--red),var(--green),var(--blue)), var(--hint) ,   rgb(var(--red1),var(--green1),var(--blue1))  );
}